*{
    margin: 0px;
}
html{
    background-color: rgb(56, 56, 197);
}

.flogin{
    margin-top: 10px;
}
body{
align-items: center;
display: flex;
position: relative;
width: 100%;
}
form{
    border-radius: 10px;
    left: 40%;
    position: absolute;
    transform: translateY(300px);
    width: 200px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
#labellogin{
    color: white;
    font-family: monospace;
    font-size: xx-large;
    background-color: crimson;
}
#submit{
    margin: 10px;
}