<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <title id="titulo">Document</title>
</head>

<body id="body">
    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.2.0/firebase-app.js"
        import { getFirestore, doc, getDoc } from "https://www.gstatic.com/firebasejs/9.2.0/firebase-firestore.js"
        const firebaseConfig = initializeApp({
            apiKey: "AIzaSyAqDmRh4jLFRNBPk66HXP0jJQMdwWXrJvI",
            authDomain: "sesinovoensinomedio.firebaseapp.com",
            projectId: "sesinovoensinomedio",
            storageBucket: "sesinovoensinomedio.appspot.com",
            messagingSenderId: "476150079392",
            appId: "1:476150079392:web:a4bbe058602ec6ee308ec5",
            measurementId: "G-4ZB3BJ0DHV"
        });
    </script>

    <script type="text/x-handlebars-template" id="postagem">
        <h1>{{titulo}}</h1>
        <h5>Criado em: {{data}}</h2>
        <h4>{{texto}}</p>
        <form action="" method="get"></form>
    </script>

    <script type="module">
        import { getFirestore, doc, getDoc } from "https://www.gstatic.com/firebasejs/9.2.0/firebase-firestore.js"
        const db = getFirestore()
        const urlParams = new URLSearchParams(window.location.search)


        const post = doc(db, "conteúdos", urlParams.get("name"))
        console.log(urlParams.get("name"))
        const docSnap = await getDoc(post)
        if (docSnap.exists()) {
            console.log(docSnap.data())
        } else {
            console.log("Não existe")
        }
        
        const DADOS = {
            titulo: urlParams.get("name"),
            texto: docSnap.data().texto,
            data: docSnap.data().data 
        }





        const TemplateString = $("#postagem").html()
        const PersonTemplate = Handlebars.compile(TemplateString)
        const html = PersonTemplate({
            titulo: urlParams.get("name")
        })
        console.log(html)
        console.log(docSnap)
        $("#body").append(html)

    </script>

</body>

</html>